@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-info__image img {
  max-width: 90%;
}

.about-info__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-info__details .signIn-btn {
  max-width: 200px;
  text-decoration: none;
  margin-top: 16px;
  text-align: center;
}

.about-info__title {
  font-size: 36px;
  font-weight: 600;
}

.about-info__description {
  color: #2c444e;
}

@media (min-width: 768px) {
  .about-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-info__image img {
    width: 300px;
    height: 300px;
  }
  .about-info__details {
    max-width: 350px;
  }
  .about-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .about-info__image img {
    width: 400px;
    height: 400px;
  }
  .about-info__details {
    max-width: 500px;
  }
}

.about-slider {
  background-color: #a0bec8;
}

@media (min-width: 768px) {
  .about-slider {
    height: auto;
    width: 100%;
  }
}

.home-page {
  height: 100vh;
  background-color: #2c444e;
}

.home-page__theme,
.home-page__container {
  background-color: white;
}

.theme__picture {
  display: block;
  margin-left: auto;
  max-width: 80%;
}

.home-page__about-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px;
}

.home-page__about-app .about__slogan {
  font-size: 36px;
  color: #385a64;
  padding-right: 16px;
}

.home-page__about-app .about__text {
  display: none;
}

.home-page__about-app .about__link {
  text-decoration: none;
  text-align: center;
}

.home-page__signIn {
  width: 100%;
  background-color: #2c444e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-right-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signIn__slogan {
  padding: 16px 0;
  color: #b0b0b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signIn__slogan .signIn__slogan--additionall {
  font-size: 16px;
}

.signIn__slogan .signIn__slogan--main {
  font-size: 28px;
}

.signIn__btns {
  width: 70%;
  max-width: 400px;
}

.signIn__btn {
  margin: 16px 0;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .home-page {
    height: calc(100vh - 100px);
    background-color: white;
    padding: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .theme__picture {
    max-width: 100%;
  }
  .home-page__about-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 400px;
    padding: 16px;
  }
  .home-page__about-app .about__text {
    display: block;
    color: #b0b0b0;
    font-size: 16px;
    margin: 16px 0;
  }
  .home-page__signIn {
    background-color: white;
    display: block;
  }
  .signIn__slogan {
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .signIn__slogan .signIn__slogan--main {
    font-size: 20px;
    padding-left: 4px;
  }
  .signIn__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 16px;
  }
  .signIn__btns .signIn__btn {
    margin: 0;
    width: 160px;
    margin-right: 16px;
  }
}

@media (min-width: 992px) {
  .theme__picture {
    max-width: 90%;
  }
  .home-page__about-app {
    width: 500px;
    padding: 16px;
  }
  .home-page__about-app .about__slogan {
    font-size: 48px;
    color: #385a64;
    padding-right: 16px;
  }
  .home-page__about-app .about__text {
    display: block;
    color: #b0b0b0;
    font-size: 20px;
    margin: 16px 0;
  }
  .signIn__slogan {
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .signIn__slogan .signIn__slogan--main {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .home-page {
    max-height: 768px;
  }
}

.navbar {
  background-color: #2c444e;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 48px;
  width: 70%;
}

.navbar__item {
  margin: 4px 16px;
  text-decoration: none;
}

.signin__form .submit__button {
  margin: 16px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin__form .submit__alert {
  color: #8d1c1c;
  font-size: 14px;
  width: 100%;
  margin: 16px auto;
  background-color: #f0c7c7;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.register__background {
  background-color: #f6f6f6;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__container {
  background-color: white;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 360px;
}

.register__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
  width: 100%;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 24px 0;
}

.register__title {
  font-size: 28px;
  font-weight: 600;
}

.register__description {
  font-size: 16px;
}

.register__section-title {
  color: #b0b0b0;
  text-align: center;
}

.register__integrating-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ececec;
}

.register__integrating-media .register__integrating-item {
  width: 88px;
  height: 48px;
  background-color: #a0bec8;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
  margin-top: 16px;
  cursor: pointer;
}

.register__integrating-media .register__integrating-item:hover {
  opacity: 1;
}

.register__integrating-media .--google {
  background-color: #dd4b39;
}

.register__integrating-media .--facebook {
  background-color: #3b5998;
}

.register__reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 24px;
  font-size: 16px;
}

.register__reference .register__reference--link {
  padding-left: 8px;
  color: #2c444e;
  font-weight: 600;
  cursor: pointer;
}

.register__picture {
  display: none;
}

@media (min-width: 768px) {
  .register__background {
    height: calc(100vh - 100px);
  }
  .register__container {
    height: auto;
    padding: 24px;
    border: 4px solid #ffc801;
    border-radius: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 600px;
  }
  .register__data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
  .register__header {
    display: none;
  }
}

@media (min-width: 992px) {
  .register__header {
    display: block;
  }
  .register__container {
    max-width: 900px;
  }
  .register__section {
    width: 260px;
  }
  .register__picture {
    display: block;
  }
  .register__picture img {
    max-width: 200px;
  }
}

@media (min-width: 1440px) {
  .register__background {
    max-height: 768px;
  }
}

.user-panel {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.user-panel::before {
  content: '';
  width: 48px;
  height: 48px;
  background-color: #2c444e;
  position: absolute;
  left: -16px;
}

.user-data {
  background-color: #2c444e;
  color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px;
  border-top-left-radius: 32px;
}

.user-data__name {
  font-size: 36px;
  padding-right: 16px;
}

.user-data__avatar {
  background-color: #ececec;
  color: #ba952f;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-left: .user-data__avatar m;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-panel__task-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-bottom: 2px solid #ffc801;
}

.user-panel__shortcut-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .user-panel::before {
    display: none;
  }
}

@media (min-width: 1440px) {
  .user-panel {
    max-height: 1024px;
  }
}

.navigation-panel {
  height: 100vh;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #a0bec8;
  padding-left: 8px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.navigation-panel__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  text-decoration: none;
}

.navigation-panel__item:hover {
  background-color: #ba952f;
}

.navigation-panel__item--active {
  background-color: #ba952f;
}

.navigation-panel__icon {
  margin: 16px;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.navigation-panel__description {
  color: #f6f6f6;
  display: none;
}

.navigation-panel--active {
  width: auto;
}

.navigation-panel--active .navigation-panel__description {
  display: block;
}

@media (min-width: 1440px) {
  .navigation-panel {
    max-height: 1024px;
  }
}

.dashboard {
  position: relative;
}

.navigation__panel--absolute {
  position: absolute;
  z-index: 2;
}

.dashboard__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current__section {
  padding-left: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 100vh;
  background-color: white;
}

.user-handle-panel {
  display: none;
}

@media (min-width: 768px) {
  .user-handle-panel {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    display: block;
    right: 0;
    background-color: #f6f6f6;
  }
  .current__section {
    padding: 24px;
    padding-left: 94px;
  }
}

@media (min-width: 1440px) {
  .dashboard {
    max-width: 1440px;
    margin: auto;
    -webkit-box-shadow: 1px 1px 15px 5px #cecece;
            box-shadow: 1px 1px 15px 5px #cecece;
    border-radius: 16px;
    overflow: hidden;
  }
  .dashboard .current__section {
    max-height: 1024px;
  }
}

.handle-task__summary {
  background-color: #2c444e;
  color: white;
  min-height: 60px;
  padding: 24px 8px;
  text-align: right;
}

.handle-task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 360px;
  padding: 16px;
}

.handle-task__task {
  border: 2px solid #b0b0b0;
  padding: 16px 0;
  border-radius: 16px;
  background-color: white;
  margin: 16px 0;
}

.handle-task__details-btn {
  margin: auto;
  max-width: 320px;
}

.shortcut__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px;
}

.shortcut__button .add__button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #ffc801;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shortcut__button .add__button {
  color: #fffadc;
}

.shortcut__button .add__button-description {
  font-size: 16px;
  color: #b0b0b0;
}

.settings__container {
  max-width: 360px;
  margin: auto;
}

.settings__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #2c444e;
  padding: 24px 0;
}

.settings__section {
  padding: 16px;
}

.settings__section--edit {
  background-color: #ececec;
  margin: 24px 8px;
  border-radius: 8px;
}

.settings__section--edit-danger {
  background-color: #f0c7c7;
  margin: 24px 8px;
  border-radius: 8px;
  color: #8d1c1c;
}

.settings__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ffc801;
}

.settings__user-data-item {
  padding-left: 16px;
}

.settings__edit-btn {
  text-align: right;
  padding-right: 8px;
  color: #ba952f;
  cursor: pointer;
  font-size: 16px;
}

.settings__option-btn {
  padding: 8px 0;
  text-decoration: underline;
  cursor: pointer;
}

.settings__option-btn:hover {
  color: #ba952f;
}

@media (min-width: 568px) {
  .settings__container {
    border: 2px solid #ffc801;
    border-radius: 32px;
    width: 340px;
    -webkit-box-shadow: 1px 1px 10px 2px #ececec;
            box-shadow: 1px 1px 10px 2px #ececec;
  }
}

.update-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 8px 0;
}

.update-form__alert {
  color: #8d1c1c;
  background-color: #f0c7c7;
}

.notes-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.notes-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #2c444e;
  padding: 24px 0;
}

.notes-list__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow-y: scroll;
}

.notes-list__container::-webkit-scrollbar {
  width: 0px;
}

.notes-list__item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #f6f6f6;
  border: 1px solid #cecece;
  margin: 16px auto;
  border-radius: 16px;
  width: 80%;
  overflow: hidden;
}

.notes-list__item_container:hover {
  background-color: #a0bec8;
}

.notes-list__item_marker {
  width: 20px;
  background-color: #ffc801;
}

.notes-list__item {
  text-decoration: none;
  padding: 16px;
  color: #2c444e;
}

@media (min-width: 568px) {
  .notes-list {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .notes-list {
    width: 100%;
    max-width: 400px;
  }
}

.note-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ececec;
  padding: 4px;
  margin: 8px auto;
  max-width: 400px;
}

.note-item__description {
  font-size: 16px;
}

.note-item__container--active {
  background-color: #ececec;
}

.note-item__container--active .note-item__description {
  padding: 0 8px;
  color: #b0b0b0;
}

.note-item__container--active .note-item__checkbox {
  background-color: #cecece;
}

.note-item__container--active .note-item__checkbox:hover {
  background-color: white;
  border: 2px solid #cecece;
}

.note-item__container--active .note-item__delete-icon {
  color: #cecece;
}

.note-item__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #cecece;
  border-radius: 4px;
}

.note-item__checkbox:hover {
  background-color: #a0bec8;
  border: 2px solid #385a64;
}

.note-item__description {
  padding: 0 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.note-item__delete-icon {
  color: #a0bec8;
}

.note-item__delete-icon:hover {
  color: #385a64;
}

.note__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: auto;
}

.note__header {
  border-bottom: 2px solid #ffc801;
}

.note__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #2c444e;
  padding: 24px 0;
}

.note__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px;
}

.note__options-icon {
  color: #ffc801;
}

.note__options-icon:hover {
  color: #ba952f;
}

.note__detailed-options {
  background-color: #fffadc;
}

.note__options-icon--danger {
  color: #d76969;
}

.note__detailed-options--danger {
  padding: 16px;
  font-size: 16px;
  background-color: #f0c7c7;
  margin: 24px 8px;
  border-radius: 8px;
  color: #8d1c1c;
}

.note__items-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow-y: scroll;
  padding: 8px;
}

.note__items-container::-webkit-scrollbar {
  width: 0px;
}

.note__add-new {
  background-color: #f6f6f6;
  padding: 16px;
  margin: 16px;
  border: 2px solid #b0b0b0;
  border-radius: 16px;
}

.add-note__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

@media (min-width: 568px) {
  .note__container {
    width: 400px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .note__container {
    width: 100%;
    max-width: 400px;
  }
}

.dasboard-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.dasboard-home__picture {
  max-height: 60%;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dasboard-home__picture img {
  max-width: 90%;
  max-height: 90%;
}

.dasboard-home__title {
  font-size: 36px;
  font-weight: 600;
  color: #385a64;
  margin: 16px 0;
}

.daily-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px;
}

.daily-list__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.daily-list__day {
  padding: 8px;
  width: 42px;
  border: 2px solid #ececec;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 8px;
}

.daily-list__day.--selected {
  border: 2px solid #ffc801;
}

.daily-list__day_number {
  font-weight: 600;
  color: #385a64;
}

.daily-list__day_name {
  color: #cecece;
  font-size: 16px;
}

.daily-list__calendar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #385a64;
}

.daily-list {
  max-width: 400px;
  margin: auto;
}

.daily-list__section-title {
  border-bottom: 2px solid #2c444e;
  padding: 8px 0;
  margin: 16px;
}

.daily-list__section-title.--overdued {
  color: #d76969;
  border-bottom: 2px solid #d76969;
}

.daily-list__date-picker {
  position: absolute;
  width: calc(100vw - 70px);
  height: calc(100% - 80px);
  background-color: white;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.daily-list__date-picker .DayPicker {
  -webkit-box-shadow: 0 8px 16px rgba(176, 176, 176, 0.25);
          box-shadow: 0 8px 16px rgba(176, 176, 176, 0.25);
}

.daily-list__date-picker__buttons {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 240px;
}

.task-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ececec;
  padding: 4px;
  margin: 8px;
  background-color: white;
}

.task-item__container-overdued {
  border: 2px solid #f0c7c7;
}

.task-item__description {
  font-size: 16px;
}

.task-item__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #cecece;
  border-radius: 4px;
}

.task-item__checkbox:hover {
  background-color: #a0bec8;
  border: 2px solid #385a64;
}

.task-item__description {
  padding: 0 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.task-item__delete-icon {
  color: #f0c7c7;
}

.task-item__delete-icon:hover {
  color: #d76969;
}

.week-summary__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.week-summary__navigation-icon {
  color: #a0bec8;
  cursor: pointer;
}

.week-summary__current-week_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.week-summary__current-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px;
}

.week-summary__current-week .date {
  color: #2c444e;
  font-weight: 600;
}

.week-summary__current-week .week-day {
  color: #b0b0b0;
  font-size: 16px;
}

.week-summary__habit {
  margin: 24px 0px;
  padding: 16px 0px;
  background-color: #f6f6f6;
}

.week-summary__habit-name {
  margin: 0 0 8px 24px;
  font-weight: 600;
  color: #385a64;
}

.week__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.week-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.week-day__field {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #cecece;
}

.week-day__field.--activated {
  border: 2px solid #ffc801;
  background-color: white;
}

.week-day__field.--activated.--clickable {
  cursor: pointer;
}

.week-day__field.--activated.--clickable.--not-done {
  border: 2px solid #d76969;
}

.week-day__field.--done {
  background-color: #ffc801;
  border: 2px solid #ba952f;
}

.week-day__name {
  font-size: 14px;
  color: #b0b0b0;
}

@media (min-width: 568px) {
  .week-summary__habit {
    margin: 24px;
    border-radius: 16px;
  }
  .week-summary__current-week .date {
    font-size: 28px;
  }
}

.add-habit {
  max-width: 400px;
}

.add-habit__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #2c444e;
  padding: 24px 0;
}

.add-habit__title .add-habit__title--date {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-habit__buttons {
  margin: 16px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-habit_date-picker {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-habit__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-habit__day {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: #ececec;
  padding: 8px;
  border: 1px solid #cecece;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-habit__day:hover {
  border: 1px solid #ffc801;
  cursor: pointer;
}

.add-habit__day--active {
  background-color: #ffc801;
}

.add-habit__days-combined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.add-habit__day-combined {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-radius: 8px;
  background-color: #ececec;
  padding: 8px;
  border: 1px solid #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-habit__day-combined:hover {
  border: 1px solid #ffc801;
  cursor: pointer;
}

.alert__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 8px 0;
}

.alert__text {
  font-size: 16px;
}

.button {
  display: block;
  cursor: pointer;
  border-radius: 32px;
  outline: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 32px;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 0.8;
}

.button--primary {
  background-color: #2c444e;
  color: #ececec;
  border: 2px solid #282e30;
}

.button--primary::after {
  background-color: #a0bec8;
}

.button--primary:focus {
  -webkit-box-shadow: box-shadow(#385a64);
          box-shadow: box-shadow(#385a64);
}

.button--primary-neutral {
  background-color: white;
  color: #282e30;
  border: 2px solid #282e30;
}

.button--primary-neutral::after {
  background-color: #a0bec8;
}

.button--primary-neutral:focus {
  -webkit-box-shadow: box-shadow(#385a64);
          box-shadow: box-shadow(#385a64);
}

.button--secondary {
  background-color: #ffc801;
  color: #282e30;
  border: 2px solid #ba952f;
}

.button--secondary::after {
  background-color: #ffe68c;
}

.button--secondary:focus {
  -webkit-box-shadow: box-shadow(#ffe68c);
          box-shadow: box-shadow(#ffe68c);
}

.button--secondary-neutral {
  background-color: white;
  color: #282e30;
  border: 2px solid #ffc801;
}

.button--secondary-neutral::after {
  background-color: #ffe68c;
}

.button--secondary-neutral:focus {
  -webkit-box-shadow: box-shadow(#ffe68c);
          box-shadow: box-shadow(#ffe68c);
}

.button--danger {
  background-color: #d76969;
  border: 2px solid #8d1c1c;
  color: #282e30;
}

.button--danger::after {
  background-color: #f0c7c7;
}

.button--danger:focus {
  -webkit-box-shadow: box-shadow(#8d1c1c);
          box-shadow: box-shadow(#8d1c1c);
}

.button--full {
  width: 80%;
  padding: 8px;
}

.button--small {
  padding: 8px 24px;
}

.button--large {
  padding: 8px 48px;
}

.button--round {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #282e30;
  font-size: 20px;
  margin: 0;
}

.input__container {
  border-bottom: 1px solid #ffc801;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b0b0b0;
  margin-top: 16px;
}

.input__container .input__field {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  padding-left: 16px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  outline: none;
}

.input__container--error {
  border-bottom: 2px solid #d76969;
  color: #d76969;
}

.input__error--active {
  font-size: 14px;
  width: 100%;
  margin: 4px auto;
  background-color: #f0c7c7;
  padding: 8px;
  border-radius: 8px;
}

.page {
  background-color: white;
}

.logo {
  width: 80px;
  position: absolute;
  z-index: 1;
  top: 0;
  margin: 8px 4px;
}

.logo--off {
  display: none;
}

.page__navbar {
  display: none;
}

@media (min-width: 768px) {
  .page__navbar {
    display: block;
  }
  .logo {
    display: block;
    margin: 24px;
  }
}

@media (min-width: 1440px) {
  .page__logo {
    width: 120px;
    margin: 24px;
  }
  .page {
    max-width: 1400px;
    margin: auto;
    -webkit-box-shadow: 1px 1px 15px 5px #cecece;
            box-shadow: 1px 1px 15px 5px #cecece;
    border-radius: 16px;
    overflow: hidden;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
}

.slide {
  padding: 16px 48px 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  opacity: 0;
}

.slide--active {
  opacity: 1;
  -webkit-transition: opacity 2000ms;
  transition: opacity 2000ms;
}

.slider__btn {
  position: absolute;
  bottom: 50%;
  color: #ececec;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.slider__btn:hover {
  cursor: pointer;
  color: #385a64;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__btn--left {
  left: 4px;
}

.slider__btn--right {
  right: 4px;
}

.slider__counter {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 4px;
}

.slider__counter .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ececec;
  border: 1px solid #b0b0b0;
  margin: 4px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.slider__counter .dot:hover {
  cursor: pointer;
  border: 1px solid #8d1c1c;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__counter .dot--active {
  background-color: #d76969;
  border: 1px solid #8d1c1c;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (min-width: 768px) {
  .slider {
    height: calc(100vh - 100px);
  }
  .slider__btn--left {
    left: 16px;
  }
  .slider__btn--right {
    right: 16px;
  }
}

@media (min-width: 992px) {
  .slider__counter {
    bottom: 16px;
  }
  .slider__counter .dot {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }
}

@media (min-width: 1440px) {
  .slider {
    max-width: 1440px;
    max-height: 768px;
  }
}
/*# sourceMappingURL=application.css.map */