@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-info__image img {
  max-width: 90%;
}

.about-info__details .signIn-btn {
  text-decoration: none;
}

.about-info__title {
  font-size: 36px;
  font-weight: 600;
}

.about-info__description {
  color: #2c444e;
}

@media (min-width: 768px) {
  .about-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-info__image img {
    width: 300px;
    height: 300px;
  }
  .about-info__details {
    max-width: 350px;
  }
}

@media (min-width: 1440px) {
  .about-info__image img {
    width: 400px;
    height: 400px;
  }
  .about-info__details {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .about-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-slider {
  background-color: #a0bec8;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 768px) {
  .about-slider {
    height: auto;
    width: 100%;
  }
}

.home-page {
  height: 100vh;
  background-color: #2c444e;
}

.home-page__theme,
.home-page__container {
  background-color: white;
}

.theme__picture {
  display: block;
  margin-left: auto;
  max-width: 80%;
}

.home-page__about-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px;
}

.home-page__about-app .about__slogan {
  font-size: 36px;
  color: #385a64;
  padding-right: 16px;
}

.home-page__about-app .about__text {
  display: none;
}

.home-page__about-app .about__link {
  text-decoration: none;
  text-align: center;
}

.home-page__signIn {
  width: 100%;
  background-color: #2c444e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-right-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signIn__slogan {
  padding: 16px 0px;
  color: #b0b0b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signIn__slogan .signIn__slogan--additionall {
  font-size: 16px;
}

.signIn__slogan .signIn__slogan--main {
  font-size: 28px;
}

.signIn__btns {
  width: 70%;
  max-width: 400px;
}

.signIn__btn {
  margin: 16px 0px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .home-page {
    height: auto;
    background-color: white;
    padding: 24px 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .theme__picture {
    max-width: 100%;
  }
  .home-page__about-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 400px;
    padding: 16px;
  }
  .home-page__about-app .about__text {
    display: block;
    color: #b0b0b0;
    font-size: 16px;
    margin: 16px 0px;
  }
  .home-page__signIn {
    background-color: white;
    display: block;
  }
  .signIn__slogan {
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .signIn__slogan .signIn__slogan--main {
    font-size: 20px;
    padding-left: 4px;
  }
  .signIn__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 16px;
  }
  .signIn__btns .signIn__btn {
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .theme__picture {
    max-width: 90%;
  }
  .home-page__about-app {
    width: 500px;
    padding: 16px;
  }
  .home-page__about-app .about__slogan {
    font-size: 48px;
    color: #385a64;
    padding-right: 16px;
  }
  .home-page__about-app .about__text {
    display: block;
    color: #b0b0b0;
    font-size: 20px;
    margin: 16px 0px;
  }
  .signIn__slogan {
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .signIn__slogan .signIn__slogan--main {
    font-size: 20px;
  }
}

.navbar {
  background-color: #2c444e;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 48px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  width: 70%;
}

.navbar__item {
  margin: 4px 16px;
  text-decoration: none;
}

.signin__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 16px 16px;
  height: 100%;
  max-height: 600px;
  margin: auto;
  border-radius: 24px;
  border: 3px solid #ffc801;
  margin: auto;
}

.signin__form-title {
  font-size: 28px;
  font-weight: 600;
}

.signin__form-description {
  font-size: 16px;
}

.signin__section_title {
  color: #b0b0b0;
}

.integrating-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ececec;
}

.integrating-signin .integrating-signin-item {
  width: 88px;
  height: 48px;
  background-color: #a0bec8;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

.integrating-signin .integrating-signin-item:hover {
  opacity: 1;
}

.integrating-signin .integrating-signin-item--google {
  background-color: #dd4b39;
}

.integrating-signin .integrating-signin-item--facebook {
  background-color: #3b5998;
}

.signin__login-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

@media (min-width: 768px) {
  .signin__form-container {
    max-height: 600px;
  }
}

.button {
  display: block;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 0.8;
}

.button--primary {
  background-color: #2c444e;
  color: #ececec;
  border: 2px solid #282e30;
}

.button--primary::after {
  background-color: #a0bec8;
}

.button--primary:focus {
  -webkit-box-shadow: box-shadow(#385a64);
          box-shadow: box-shadow(#385a64);
}

.button--primary-neutral {
  background-color: white;
  color: #282e30;
  border: 2px solid #282e30;
}

.button--primary-neutral::after {
  background-color: #a0bec8;
}

.button--primary-neutral:focus {
  -webkit-box-shadow: box-shadow(#385a64);
          box-shadow: box-shadow(#385a64);
}

.button--secondary {
  background-color: #ffc801;
  color: #282e30;
  border: 2px solid #ba952f;
}

.button--secondary::after {
  background-color: #ffe68c;
}

.button--secondary:focus {
  -webkit-box-shadow: box-shadow(#ffe68c);
          box-shadow: box-shadow(#ffe68c);
}

.button--secondary-neutral {
  background-color: white;
  color: #282e30;
  border: 2px solid #ffc801;
}

.button--secondary-neutral::after {
  background-color: #ffe68c;
}

.button--secondary-neutral:focus {
  -webkit-box-shadow: box-shadow(#ffe68c);
          box-shadow: box-shadow(#ffe68c);
}

.button--full {
  width: 80%;
  padding: 8px;
  border-radius: 20px;
}

.button--small {
  padding: 8px 32px;
  border-radius: 30px;
}

.button--large {
  padding: 8px 48px;
  border-radius: 30px;
}

.button--round {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #282e30;
  font-size: 20px;
  margin: 0;
}

.input__container {
  border-bottom: 1px solid #ffc801;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b0b0b0;
  margin-top: 16px;
}

.input__container .input__field {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  padding-left: 16px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
}

.input__container--error {
  border-bottom: 2px solid #d76969;
  color: #d76969;
}

.input__error--active {
  font-size: 14px;
  width: 100%;
  margin: 4px auto;
  background-color: #f0c7c7;
  padding: 8px;
  border-radius: 8px;
}

.page {
  background-color: white;
}

.logo {
  width: 80px;
  position: absolute;
  z-index: 1;
  top: 0;
  margin: 8px 4px;
}

.logo--off {
  display: none;
}

.page__navbar {
  display: none;
}

@media (min-width: 768px) {
  .page__navbar {
    display: block;
  }
  .logo {
    display: block;
    margin: 24px 24px;
  }
}

@media (min-width: 1440px) {
  .page__logo {
    width: 120px;
    margin: 24px 24px;
  }
  .page {
    max-width: 1400px;
    margin: auto;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
}

.slide {
  padding: 16px 48px 36px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  opacity: 0;
}

.slide--active {
  opacity: 1;
  -webkit-transition: opacity 2000ms;
  transition: opacity 2000ms;
}

.slider__btn {
  position: absolute;
  bottom: 50%;
  color: #ececec;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.slider__btn:hover {
  cursor: pointer;
  color: #385a64;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__btn--left {
  left: 4px;
}

.slider__btn--right {
  right: 4px;
}

.slider__counter {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 4px;
}

.slider__counter .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ececec;
  border: 1px solid #b0b0b0;
  margin: 2px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.slider__counter .dot:hover {
  cursor: pointer;
  border: 1px solid #8d1c1c;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__counter .dot--active {
  background-color: #d76969;
  border: 1px solid #8d1c1c;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (min-width: 768px) {
  .slider {
    height: auto;
  }
  .slider__btn--left {
    left: 16px;
  }
  .slider__btn--right {
    right: 16px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .slider__counter {
    bottom: 16px;
  }
  .slider__counter .dot {
    width: 16px;
    height: 16px;
    margin: 0px 10px;
  }
}

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1440px) {
  .slide {
    max-width: 1440px;
  }
}
/*# sourceMappingURL=application.css.map */