.about-slider
    background-color: $primary-very-light
    border: 5px dashed orange
    height: 100vh
    padding: 8px 8px 36px 8px
    display: flex
    align-items: center
    justify-content: center

@media(min-width: 768px)
    .about-slider
        height: auto
        width: 100%
