.add-habit__days
  display: flex
  flex-wrap: wrap
  justify-content: center
.add-habit__title
  color: $neutral-dark
  font-size: $font-size-base
  margin: $m-sm 0
.add-habit__day
  background-color: $neutral-light
  border-radius: $border-radius-sm
  border: 1px solid $neutral
  flex: 0 0 15%
  font-size: $font-size-sm
  height: 40px
  margin: $m-xs
  width: 40px
  @include flex-centered
  &:hover
    border: 1px solid $secondary
    cursor: pointer
  &--active
    background-color: $secondary

.add-habit__days-combined
  display: flex
  justify-content: center
  margin: $m-sm auto
  .button
    margin: 0 $m-xs
    font-size: $font-size-sm

.add-habit__button
  margin: $m-lg $m-sm
  @include flex-centered

