.daily-list
  display: flex
  flex-direction: column
  height: 100%

.daily-list__header
  align-items: center
  display: flex
  justify-content: space-between
  margin: $m-sm

.daily-list__days
  display: flex

.daily-list__day
  border-radius: $border-radius
  border: 2px solid $neutral-light
  cursor: pointer
  flex-direction: column
  margin: 0 $m-xs
  padding: $m-xs
  width: 42px
  @include flex-centered
  &.--selected
      border: 2px solid $secondary

.daily-list__day_number
  color: $primary-light
  font-weight: $font-weight-bold

.daily-list__day_name
  color: $neutral
  font-size: $font-size-sm

.daily-list
  margin: auto
  max-width: 400px

.daily-list__section-title
  border-bottom: 2px solid $primary
  margin: $m-sm
  padding: $m-xs 0
  &.--overdued
      color: $danger-light
      border-bottom: 2px solid $danger-light

.daily-lists__container
  @include scroll
