.dashboard
  position: relative

.navigation__panel--absolute
  position: absolute
  z-index: 2

.dashboard__container
  display: flex

.current__section
    background-color: white
    flex: 1 1 100%
    height: 100vh
    padding-left: 70px

.user-handle-panel
  display: none

+media-breakpoint-up(md)
  .user-handle-panel
    background-color: $neutral-very-light
    display: block
    flex: 0 0 300px
    right: 0

  .current__section
    padding: $m
    padding-left: 94px

+media-breakpoint-up(xxl)
  .dashboard
    border-radius: $border-radius-md
    box-shadow: 1px 1px 15px 5px $neutral
    margin: auto
    max-width: 1440px
    overflow: hidden
    .current__section
      max-height: 1024px