.handle-task__summary
  background-color: $primary
  color: white
  min-height: 60px
  padding-left: 8px
  padding-top: 24px
  // paddingh to be removed after task redux implementation

.handle-task__list
  display: flex
  flex-direction: column
  margin: auto
  max-width: 360px
  padding: 16px

.handle-task__task
  border: 2px solid $neutral-dark
  padding: 16px 0px
  border-radius: 16px
  background-color: white
  margin: 16px 0px

.handle-task__details-btn
  margin: auto
  max-width: 320px


