.home-page
    background-color: $primary
    height: 100vh

.home-page__theme,
.home-page__container
    background-color: white

.theme__picture
    display: block
    margin-left: auto
    max-width: 80%

.home-page__about-app
    align-items: center
    display: flex
    justify-content: flex-start
    padding: $m-sm
    .about__slogan
        color: $primary-light
        font-size: $font-size-xl
        padding-right: $m-sm
    .about__text
        display: none
    .about__link
        text-align: center
        text-decoration: none

.home-page__signIn
    background-color: $primary
    border-top-right-radius: $border-radius-lg
    flex: 1
    width: 100%
    @include flex-centered
    flex-direction: column

.signIn__slogan
    color: $neutral-dark
    flex-direction: column
    padding: $m-sm 0
    @include flex-centered
    .signIn__slogan--additionall
        font-size: $font-size-sm
    .signIn__slogan--main
        font-size: $font-size-lg

.signIn__btns
    max-width: 400px
    width: 70%

.signIn__btn
    margin: $m-sm 0
    text-align: center
    text-decoration: none
    @include flex-centered

+media-breakpoint-up(md)
    .home-page
        align-items: center
        background-color: white
        display: flex
        flex-direction: row-reverse
        height: calc(100vh - 100px)
        padding: $m


    .theme__picture
        max-width: 100%
    .home-page__about-app
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-end
        width: 400px
        padding: $m-sm
        .about__text
            display: block
            color: $neutral-dark
            font-size: $font-size-sm
            margin: $m-sm 0

    .home-page__signIn
        background-color: white
        display: block

    .signIn__slogan
        padding-left: $m-sm

        flex-direction: row
        justify-content: flex-start
        .signIn__slogan--main
            font-size: $font-size-base
            padding-left: $m-xxs
    .signIn__btns
        display: flex
        width: 100%
        padding: 0 $m-sm
        .signIn__btn
            margin: 0
            width: 160px
            margin-right: $m-sm

+media-breakpoint-up(lg)
    .theme__picture
        max-width: 90%
    .home-page__about-app
        width: 500px
        padding: $m-sm
        .about__slogan
            font-size: $font-size-xxl
            color: $primary-light
            padding-right: $m-sm
        .about__text
            display: block
            color: $neutral-dark
            font-size: $font-size-base
            margin: $m-sm 0
    .signIn__slogan
        padding-left: $m-sm
        flex-direction: row
        justify-content: flex-start
        .signIn__slogan--main
            font-size: $font-size-base

+media-breakpoint-up(xxl)
 .home-page
      max-height: 768px