.home-page
    height: 100vh
    background-color: $primary

.home-page__theme,
.home-page__container
    background-color: white

.theme__picture
    display: block
    margin-left: auto
    max-width: 80%

.home-page__about-app
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 16px
    .about__slogan
        font-size: $font-size-xl
        color: $primary-light
        padding-right: 16px
    .about__text
        display: none
    .about__link
        text-decoration: none
        text-align: center

.home-page__signIn
    width: 100%
    background-color: $primary
    flex: 1
    border-top-right-radius: $border-radius-lg
    @include flex-centered
    flex-direction: column

.signIn__slogan
    padding: $m-sm 0
    color: $neutral-dark
    @include flex-centered
    flex-direction: column
    .signIn__slogan--additionall
        font-size: $font-size-sm
    .signIn__slogan--main
        font-size: $font-size-lg
.signIn__btns
    width: 70%
    max-width: 400px

.signIn__btn
    margin: 16px 0px
    text-decoration: none
    text-align: center
    @include flex-centered

+media-breakpoint-up(md)
    .home-page
        height: auto
        background-color: white
        padding: 24px 24px
        flex-direction: row-reverse
        align-items: center
        @include flex-centered

    .theme__picture
        max-width: 100%
    .home-page__about-app
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-end
        width: 400px
        padding: 16px
        .about__text
            display: block
            color: $neutral-dark
            font-size: $font-size-sm
            margin: 16px 0px

    .home-page__signIn
        background-color: white
        display: block

    .signIn__slogan
        padding-left: 16px

        flex-direction: row
        justify-content: flex-start
        .signIn__slogan--main
            font-size: $font-size-base
            padding-left: 4px
    .signIn__btns
        display: flex
        width: 100%
        padding: 0px 16px
        .signIn__btn
            margin: 0px
            width: 160px
            margin-right: 16px

+media-breakpoint-up(lg)
    .theme__picture
        max-width: 90%
    .home-page__about-app
        width: 500px
        padding: 16px
        .about__slogan
            font-size: $font-size-xxl
            color: $primary-light
            padding-right: 16px
        .about__text
            display: block
            color: $neutral-dark
            font-size: $font-size-base
            margin: 16px 0px
    .signIn__slogan
        padding-left: 16px
        flex-direction: row
        justify-content: flex-start
        .signIn__slogan--main
            font-size: $font-size-base
