.navbar
    background-color: $primary
    border-bottom-left-radius: 50px
    border-top-left-radius: 50px
    display: flex
    justify-content: flex-end
    margin-left: auto
    margin-bottom: 105px
    width: 70%

.navbar__item
    margin: 4px 16px
    text-decoration: none
