.navigation-panel
  background-color: $primary-very-light
  border-bottom-right-radius: $border-radius-md
  border-top-right-radius: $border-radius-md
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: space-between
  padding-left: $m-xs
  width: 70px

.navigation-panel__items
    display: flex
    flex-direction: column

.navigation-panel__item
    align-items: center
    border-bottom-left-radius: $border-radius-md
    border-top-left-radius: $border-radius-md
    display: flex
    padding-right: $m-sm
    text-decoration: none
    &:hover
      background-color: $secondary-dark

.navigation-panel__item--active
    background-color: $secondary-dark


.navigation-panel__icon
    color: $neutral-very-light
    cursor: pointer
    margin: $m-sm
    @include flex-centered

.navigation-panel__description
  color: $neutral-very-light
  display: none

.navigation-panel--active
  width: auto
  .navigation-panel__description
    display: block

+media-breakpoint-up(xxl)
  .navigation-panel
      max-height: 1024px