.navbar
    background-color: $primary
    border-bottom-left-radius: $border-radius-lg
    border-top-left-radius: $border-radius-lg
    display: flex
    justify-content: flex-end
    margin-left: auto
    margin-bottom: $m-lg
    width: 70%

.navbar__item
    margin: 4px 16px
    text-decoration: none
