.notes-list
  display: flex
  flex-direction: column
  height: 100vh
  max-width: 500px

.notes-list__header
  background-color: $secondary

.notes-list__title
  padding: $m

.notes-list__items-container
  flex: 1 1 100%

.notes-list__add-new
  background-color: $neutral-very-light
  padding: $m-sm
  margin: $m-sm
  border: 2px solid $neutral-dark
  border-radius: $border-radius-md


.add-note__button
  @include flex-centered
  margin-top: $m-sm
