.notes-list
  height: 100vh
  display: flex
  flex-direction: column
  margin: auto

.notes-list__header
  @include header

.notes-list__container
  flex: 1 1 100%
  overflow-y: scroll

.notes-list__item
  background-color: $primary-light
  display: block
  color: white
  text-decoration: none
  padding: $m-xs $m
  margin: $m-xs
  border-radius: $border-radius-sm
  &:hover
     background-color: $primary-very-light


+media-breakpoint-up(sm)
  .notes-list
    height: 90%
    width: 400px
    border: 2px solid $neutral-light
    border-radius: $border-radius
