.note__container
  display: flex
  flex-direction: column
  height: 100vh
  margin: auto

.note__header
  border-bottom: 2px solid $secondary

.note__title
  @include header

.note__options
  display: flex
  justify-content: space-around
  padding: $m-xs

.note__options-icon
  color: $secondary
  &:hover
    color: $secondary-dark

.note__detailed-options
  background-color: $secondary-very-light

.note__options-icon--danger
  color: $danger-light

.note__detailed-options--danger
  padding: $m-sm
  font-size: $font-size-sm
  background-color: $danger-very-light
  margin: $m $m-xs
  border-radius: $border-radius-sm
  color: $danger
.note__items-container
  flex: 1 1 100%
  overflow-y: scroll

.note__add-new
  background-color: $neutral-very-light
  padding: $m-sm
  margin: $m-sm
  border: 2px solid $neutral-dark
  border-radius: $border-radius-md


.add-note__button
  @include flex-centered
  margin-top: $m-sm

+media-breakpoint-up(sm)
  .note__container
    height: 90%
    width: 400px
    border: 2px solid $secondary
    border-radius: $border-radius
    overflow: hidden
    box-shadow: 1px 1px 10px 2px $neutral-light

  .note__header
    background-color: $secondary

  .note__options-icon
    color: $primary-light
    &:hover
      color: $neutral-light

+media-breakpoint-up(md)
  .note__container
    width: 100%
    max-width: 400px
