.note__container
  display: flex
  flex-direction: column
  height: 100vh

.note__header
  background-color: $secondary

.note__title
  padding: $m-sm
  font-size: $font-size-lg
  font-weight: $font-weight-bold

.note__options
  display: flex
  justify-content: space-around
  margin: $m-xs

.note__options-icon
  color: $primary
  &:hover
    color: $neutral-very-light

.note__detailed-options
  background-color: $secondary-very-light

.note__options-icon--danger
  color: $danger-light

.note__detailed-options--danger
  padding: $m-sm
  font-size: $font-size-sm
  background-color: $danger-very-light
  margin: $m $m-xs
  border-radius: $border-radius-sm
  color: $danger
.note__items-container
  flex: 1 1 100%
  overflow-y: scroll

.note__add-new
  background-color: $neutral-very-light
  padding: $m-sm
  margin: $m-sm
  border: 2px solid $neutral-dark
  border-radius: $border-radius-md


.add-note__button
  @include flex-centered
  margin-top: $m-sm

+media-breakpoint-up(sm)
  .note__container
    width: 400px

  .note__header
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius
