.note__container
  display: flex
  flex-direction: column
  height: 100%
  margin: auto

.note__header
  border-bottom: 2px solid $secondary

.note__title
  @include header

.note__options
  display: flex
  justify-content: space-around
  padding: $m-xs

.note__options-icon
  color: $secondary
  &:hover
    color: $secondary-dark

.note__detailed-options
  background-color: $secondary-very-light

.note__options-icon--danger
  color: $danger-light

.note__detailed-options--danger
  background-color: $danger-very-light
  border-radius: $border-radius-sm
  color: $danger
  font-size: $font-size-sm
  margin: $m $m-xs
  padding: $m-sm

.note__items-container
  padding: $m-xs
  @include scroll

.note__add-new
  background-color: $neutral-very-light
  border-radius: $border-radius-md
  border: 2px solid $neutral-dark
  margin: $m-sm
  padding: $m-sm

.add-note__button
  margin-top: $m-sm
  @include flex-centered

+media-breakpoint-up(sm)
  .note__container
    overflow: hidden
    width: 400px

+media-breakpoint-up(md)
  .note__container
    max-width: 400px
    width: 100%
