.register__background
    background-color: $neutral-very-light
    height: 100vh
    @include flex-centered

.register__container
    background-color: white
    display: flex
    flex-direction: column
    height: 100%
    max-width: 360px
    padding: $m-sm
    width: 100%

.register__data
    align-items: stretch
    display: flex
    flex-direction: column
    flex-grow: 1
    height: 100vh
    justify-content: space-between
    max-height: 500px
    padding: $m 0
    width: 100%

.register__title
    font-size: $font-size-lg
    font-weight: $font-weight-bold

.register__description
    font-size: $font-size-sm

.register__section-title
    color: $neutral-dark
    text-align: center

.register__integrating-media
    @include flex-centered
    color: $neutral-light
    .register__integrating-item
        background-color: $primary-very-light
        border-radius: $border-radius-md
        cursor: pointer
        height: $m-lg
        margin-top: $m-sm
        opacity: 0.8
        width: 88px
        @include flex-centered
        &:hover
            opacity: 1
    .--google
        background-color: #dd4b39
    .--facebook
        background-color: #3b5998

.register__reference
    align-items: center
    display: flex
    font-size: $font-size-sm
    justify-content: flex-start
    padding-top: $m
    .register__reference--link
        color: $primary
        cursor: pointer
        font-weight: $font-weight-bold
        padding-left: $m-xs
.register__picture
    display: none

+media-breakpoint-up(md)

    .register__background
        height: calc(100vh - 100px)

    .register__container
        align-items: flex-start
        border-radius: $m
        border: $m-xxs solid $secondary
        height: auto
        justify-content: space-between
        max-width: 600px
        padding: $m

    .register__data
        flex-direction: row
        height: auto
    .register__header
        display: none

+media-breakpoint-up(lg)
    .register__header
        display: block

    .register__container
        max-width: 900px

    .register__section
        width: 260px

    .register__picture
        display: block
        img
            max-width: 200px


+media-breakpoint-up(xxl)
    .register__background
         max-height: 768px