.settings__container
  margin: auto
  max-width: 360px

.settings__header
  @include header

.settings__section
  padding: $m-sm

.settings__section--edit
  background-color: $neutral-light
  border-radius: $border-radius-sm
  margin: $m $m-xs

.settings__section--edit-danger
  background-color: $danger-very-light
  border-radius: $border-radius-sm
  color: $danger
  margin: $m $m-xs

.settings__user-data
  border-bottom: 2px solid $secondary
  display: flex

.settings__user-data-item
  padding-left: $m-sm

.settings__edit-btn
  color: $secondary-dark
  cursor: pointer
  font-size: $font-size-sm
  padding-right: $m-xs
  text-align: right

.settings__option-btn
  cursor: pointer
  padding: $m-xs 0
  text-decoration: underline
  &:hover
    color: $secondary-dark

+media-breakpoint-up(sm)
  .settings__container
    border-radius: $border-radius
    border: 2px solid $secondary
    box-shadow: 1px 1px 10px 2px $neutral-light
    width: 340px

