.shortcut__button
  @include flex-centered
  flex-direction: column
  margin: 8px
  .add__button
    width: 54px
    height: 54px
    border-radius: 50%
    background-color: $secondary

    @include flex-centered
  .add__button
    color: $secondary-very-light
  .add__button-description
    font-size: $font-size-sm
    color: $neutral-dark