.signin__form-container
    border: 1px solid $primary
    display: flex
    flex-direction: column
    justify-content: space-between
    border-radius: 20px
    padding: 0px 16px
    max-width: 400px
    height: 100%
    margin: auto

.signin__login-option
    display: flex
    align-items: center

.integrating-signin
    display: flex
    align-items: center
    justify-content: space-around
    .integrating-signin-item
        width: 48px
        height: 48px
        background-color: $primary-very-light
