.signin__form
    .submit__button
        flex-direction: column
        margin: $m-sm auto
        @include flex-centered
    .submit__alert
        background-color: $danger-very-light
        border-radius: $m-xs
        color: $danger
        font-size: $font-size-xs
        margin: $m-sm auto
        padding: $m-sm
        text-align: center
        width: 100%

