.user-panel
    align-items: stretch
    display: block
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: space-between
    position: relative
    width: 100%
    &::before
      background-color: $primary
      content: ''
      height: 48px
      left: -16px
      position: absolute
      width: 48px

.user-data
  background-color: $primary
  border-top-left-radius: $border-radius
  color: $neutral-light
  display: flex
  justify-content: flex-end
  padding: 8px

.user-data__name
  font-size: $font-size-xl
  padding-right: $m-sm

.user-data__avatar
  background-color: $neutral-light
  border-radius: 50%
  color: $secondary-dark
  height: 54px
  margin-left: &m
  width: 54px
  @include flex-centered

.user-panel__task-list
  display: flex
  flex-direction: column
  flex: 1 1 100%
  max-height: calc(100% - 160px)

.user-panel__shortcut-btns
  border-top: 2px solid $secondary
  display: flex
  justify-content: space-around

+media-breakpoint-up(md)
  .user-panel
    &::before
     display: none

+media-breakpoint-up(xxl)
  .user-panel
      max-height: 1024px