.week-summary
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%

.week-summary__header
  display: flex
  justify-content: space-around
  align-items: center

.week-summary__navigation-icon
  color: $primary-very-light
  cursor: pointer

.week-summary__habits
  @include scroll

.week-summary__current-week_container
  display: flex
  align-items: center
  justify-content: center
  flex-basis: 50%

.week-summary__current-week
  @include flex-centered
  flex-direction: column
  margin: $m-xs

  .date
    color: $primary
    font-weight: $font-weight-bold
  .week-day
    color: $neutral-dark
    font-size: $font-size-sm

+media-breakpoint-up(sm)
  .week-summary__current-week
    .date
      font-size: $font-size-lg