.week-summary
  display: flex
  flex-direction: column
  height: 100%
  justify-content: space-between

.week-summary__header
  align-items: center
  display: flex
  justify-content: space-around

.week-summary__navigation-icon
  color: $primary-very-light
  cursor: pointer

.week-summary__habits
  @include scroll

.week-summary__current-week_container
  align-items: center
  display: flex
  flex-basis: 50%
  justify-content: center

.week-summary__current-week
  @include flex-centered
  flex-direction: column
  margin: $m-xs
  .date
    color: $primary
    font-weight: $font-weight-bold
  .week-day
    color: $neutral-dark
    font-size: $font-size-sm

+media-breakpoint-up(sm)
  .week-summary__current-week
    .date
      font-size: $font-size-lg