.alert__availability
  align-items: center
  background-color: $danger-very-light
  border-radius: $border-radius-md
  display: flex
  justify-content: space-between
  margin: $m-lg auto
  padding: $m-sm
  width: 220px

.alert__cancle-icon
  background-color: $danger
  border-radius: $border-radius-sm
  border: $danger
  color: white
  margin: $m-sm
  padding: $m-xxs

.alert__text
  text-align: center