*
    box-sizing: border-box

body
    background-color: $neutral-light
    font-family: $font-family-primary
    font-weight: $font-weight-regular
    color: $primary-dark
    font-size: $font-size-base
    margin: 0

    input
     background-color: transparent
     &:-webkit-autofill
        &
        &:hover
        &:focus
        &:active
            transition: background-color 5000s
            -webkit-text-fill-color: #fff !important
