.button
    display: block
    cursor: pointer
    &:hover
        opacity: 0.8

.button--primary
    background-color: $primary
    color: $neutral-light
    border: 2px solid $primary-light

.button--primary-neutral
    background-color: white
    color: $primary-dark
    border: 2px solid $primary-dark

.button--secondary
    background-color: $secondary
    color: $primary-dark
    border: 2px solid $secondary-dark

.button--secondary-neutral
    background-color: white
    color: $primary-dark
    border: 2px solid $secondary

.button--full
    width: 80%
    padding: 4px 8px
    border-radius: 20px
    margin: 16px 4px

.button--small
    padding: 8px 32px
    border-radius: 30px
    margin: 8px 4px

.button--large
    padding: 8px 48px
    border-radius: 30px
    margin: 8px 4px

.button--round
    width: 28px
    height: 28px
    border-radius: 50%
