.button
    display: block
    cursor: pointer
    outline: none
    position: relative
    z-index: 1
    overflow: hidden
    &:focus
        transform: scale(1.1)
        outline: none
.button::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    border-radius: $border-radius
    z-index: -1
    transform: scaleX(0)
    transform-origin: left
    @include animate (opacity)
    @include animate (transform)

    opacity: 0

.button:hover::after
    transform: scaleX(1)
    opacity: 0.8

.button--primary
    background-color: $primary
    color: $neutral-light
    border: 2px solid $primary-dark
    &::after
        background-color: $primary-very-light
    &:focus
        box-shadow: box-shadow($primary-light)

.button--primary-neutral
    background-color: white
    color: $primary-dark
    border: 2px solid $primary-dark
    &::after
        background-color: $primary-very-light
    &:focus
        box-shadow: box-shadow($primary-light)

.button--secondary
    background-color: $secondary
    color: $primary-dark
    border: 2px solid $secondary-dark
    &::after
        background-color: $secondary-light
    &:focus
        box-shadow: box-shadow($secondary-light)

.button--secondary-neutral
    background-color: white
    color: $primary-dark
    border: 2px solid $secondary
    &::after
        background-color: $secondary-light
    &:focus
        box-shadow: box-shadow($secondary-light)
.button--full
    width: 80%
    padding: $m-xs
    border-radius: $border-radius-md

.button--small
    padding: $m-xs $m
    border-radius: $border-radius

.button--large
    padding: $m-xs $m-lg
    border-radius: $border-radius

.button--round
   @include circle($m)
