.page
    background-color: white
.logo
    width: 80px
    position: absolute
    z-index: 1
    top: 0
    margin: $m-xs $m-xxs

.logo--off
    display: none

.page__navbar
    display: none

@media(min-width: 768px)
    .page__navbar
        display: block
    .logo
        display: block
        margin: $m

@media(min-width: 1440px)
    .page__logo
        width: 120px
        margin: $m

    .page
        max-width: 1400px
        margin: auto
