
.slider
    display: flex
    border: 5px solid blue

.slide
    border: 1px solid red
    width: 100%

.slider__btn
    position: absolute
.slider__btn--left

.slider__btn--right

.slider__counter
    position: absolute
    .dot
        width: 10px
        height: 10px
        border-radius: 50%
        background-color: $neutral-light
        border: 1px solid $primary
        margin: 2px
    .dot--active
        background-color: $danger-light
