
.slider
    display: flex
    width: 100%
    position: relative
    height: 100vh

.slide
    padding: $m-sm $m-lg $m $m-lg
    display: flex
    align-items: center
    justify-content: center
    flex: 0 0 100%
    opacity: 0

.slide--active
    opacity: 1
    transition: opacity 2000ms,

.slider__btn
    position: absolute
    bottom: 50%
    color: $neutral-light
    transition: transform 500ms
    &:hover
        cursor: pointer
        color: $primary-light
        transform: scale(1.4)

.slider__btn--left
    left: $m-xxs

.slider__btn--right
    right: $m-xxs
.slider__counter
    position: absolute
    width: 100%
    display: flex
    justify-content: center
    bottom: $m-xxs
    .dot
        @include circle($m-xs)
        background-color: $neutral-light
        border: 1px solid $neutral-dark
        margin: $m-xxs
        transition: transform 500ms
        &:hover
            cursor: pointer
            border: 1px solid $danger
            transform: scale(1.4)

    .dot--active
        background-color: $danger-light
        border: 1px solid $danger
        transform: scale(1.4)

+media-breakpoint-up(md)
    .slider
        height: auto
    .slider__btn--left
        left: $m-sm

    .slider__btn--right
        right: $m-sm

+media-breakpoint-up(lg)
    .slider__counter
        bottom: $m-sm
        .dot
            width: $m-sm
            height: $m-sm
            margin: 0 $m-xs

+media-breakpoint-up(xxl)
    .slide
         max-width: 1440px
